:root {
	/* Background */
	--bg: #1e1e20;
	--off-bg: #1e1e20;
	--inner-bg: #1e1e20;

	/* Text */
	--fg: #f3deda;
	--off-fg: var(--base04);
	--muted: var(--base03);
	--link: #b37d7d;
	--hover: #eed9dc;
	--highlight: var(--base0A);

	/* Logo */
	--logo: #eed9dc;
}
